<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example">
	<div class="palm-text-wrapper">
		<div class="palm-body-text" x-mojo-loc=''>
			For single lines of truncating text, set the text line-height equal to the DIV's height. 
		</div>
		
		<div style="margin: 15px 0; padding: 0 15px; height: 50px; background: grey; line-height: 50px;" class="truncating-text">This text has a line-height equal to its parent's height</div>

		<div class="palm-body-text" x-mojo-loc=''>
			For multiple lines of text, specify equal amounts of padding to the DIV. 
		</div>
	
		<div style="margin: 15px 0; padding: 15px; background: grey;">This text has equal amounts of padding above and below it</div>
		
		<div class="palm-body-text" x-mojo-loc=''>
			To align images or blocks of layout vertically, use "display: inline-block;" and "vertical-align: middle;" 
		</div>
		
	</div>
	
</div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">

</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>