<div class="dashboard-notification-module" id="notification">
	<div class="palm-dashboard-text-container" id="text-action">
		<div style="position:fixed;" class="dashboard-title">
	 	<div id="reflected_message"></div>	
	 </div>
	<div id="buttons">
		<div style="float:left;width:70px;margin-left:4px;margin-top:-7px;">
			<div id="happy" x-mojo-touch-feedback="immediatePersistent" class="palm-button affirmative"><span x-mojo-loc="">:)</span></div>
		</div>
		<div style="float:left;width:70px;margin-left:4px;margin-top:-7px;">
			<div id="sad" x-mojo-touch-feedback="immediatePersistent" class="palm-button alternate"><span x-mojo-loc="">:(</span></div>
		</div>
		<div style="float:left;width:70px;margin-left:4px;margin-top:-7px;">
			<div id="what" x-mojo-touch-feedback="immediatePersistent" class="palm-button primary"><span x-mojo-loc="">;|</span></div>
		</div>
		<div style="float:left;width:70px;margin-left:4px;margin-top:-7px;">
			<div id="puckered" x-mojo-touch-feedback="immediatePersistent" class="palm-button secondary"><span x-mojo-loc="">:*</span></div>
		</div>
	</div>
	</div>
</div>