<div class="dashboard-notification-module" id="notification">
  <div class="palm-dashboard-icon-container" id="icon-action">
    <div id="itemcount" class="dashboard-newitem">
      <span id="itemcounttext">#{count}</span>
    </div>
    <div id="icon" class="palm-dashboard-icon alarm"></div>
	</div>
	<div class="palm-dashboard-text-container" id="text-action">
		<div class="dashboard-title" id="title"><span x-mojo-loc="">Dashboard Title for #{text}</span></div>
	<div id='message' class="palm-dashboard-text">
		<span x-mojo-loc=""> at #{when}.</span>
		<span x-mojo-loc="">Called #{count} #{times}.</span>
	</div>
</div>
