<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example">
	<div class="palm-text-wrapper">
		<div class="palm-body-title" x-mojo-loc=''>
			Maximize your touch targets
		</div>
		<div class="palm-body-text" x-mojo-loc=''>
			The elements in your scene may appear to be small and separate from each other, but their touch targets should be as large as possible. Elements in rows should be as tall as the row itself and extend (when adjacent) to the very edge of the scene.
		</div>
		<div class="palm-body-text" x-mojo-loc=''>
			Ensure that the touchable elements in your scene are as large as possible. Touch targets in rows should be as tall as the row itself, and should butt up against each other, such that there's no dead-space in between them. 
		</div>
	</div>
</div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
	.
</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>