<!-- This is div is required -->
<div id="complete_example"></div>

<!-- place your example between these tags, with correct indentation and whitespace (by default, this serves as user-facing HTML example). -->
<div id="e_example">
	
	<div class="palm-text-wrapper">
		
		<div class="palm-body-title" x-mojo-loc=''>
			Format 
		</div>
		<div class="palm-body-text" x-mojo-loc=''>
			Whenever possible, use full color PNGs with 8bit transparency. 
		</div>
			
		<div class="palm-body-title" x-mojo-loc=''>
			Multi-state images
		</div>
		<div class="palm-body-text" x-mojo-loc=''>
			<div style="background:white; width:56px; height: 128px; float: right; margin-left: 12px">
				<img src="images/palm-divider-arrow.png" /> 
			</div>
			When displaying an animation or multi-state button as the background of a DIV, combine your multiple states into a single image, and change the background position to display the appropriate 'frame' as desired. This negates the need to preload, eliminating flicker between the states, and conveniently keeps the assets together.
		</div>		
		
	</div>	
</div>

<!-- place additional context, explanation or info between these tags -->
<div id="e_about">
	
</div>

<!-- leave this blank for default html (above), or place code here to override -->
<div id="e_html">
...
</div>

<!-- list overridable css pertinent to this example, between these tags -->
<div id="e_css">

</div>